
body {
  margin: 0px;
  font-family: sans-serif;
  color: #444;
}

.header {
  background-color: #0aa652;
  padding: 10px 10px 10px 10px;
}

.column {
  margin: 0 auto 0 auto;
  max-width: 600px;
}

h1 {
  color: #fff;
  margin: 0;
  padding: 25px;
  font-size: 18pt;
}

p {
  font-size: 12pt;
  margin: 30px;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

th {
  vertical-align: bottom;
  font-size: 10pt;
  background-color: #0aa652;
  color: #fff;
  padding: 10px 0px;
  text-align: center;
}

td {
  font-size: 14pt;
  padding: 15px 0px;
  text-align: center;
  border-top: 1px solid #f2f2f2;
}

.lalign {
  text-align: left;
}

.calign {
  text-align: center;
}

.ralign {
  text-align: right;
}

.smaller {
  font-size: 10pt;
}

.line {
  font-weight: bold;
  min-width: 25%;
}

.line > a {
  color: #0aa652;
}

/*.deptime {
  color: #333;
}

.arrtime {
  color: #333;
}*/

.maybe {
  opacity: 0.7;
}

.maybe:before {
  content: "~";
  font-size: 10pt;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.quicklinks {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.quicklinks > a {
  color: #aaa;
  font-size: 10pt;
  line-height: 300%;
}

.footer {
  margin: 150px 0 20px 0;
  text-align: center;
  width: 100%;
}

.footer > a {
  color: #aaa;
  font-size: 10pt;
}


@media only screen and (max-width: 600px) {
  .column {
    max-width: 100%;
  }
}
