
body {
  margin: 0px;
  font-family: sans-serif;
}

.column {
  margin: 0 auto 0 auto;
  max-width: 600px;
}

h1 {
  margin: 25px;
  font-size: 18pt;
}

p {
  font-size: 10pt;
  margin: 30px;
  color: #bbb;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

th {
  font-size: 11pt;
  background-color: #fff;
  color: #333;
  padding: 4px 0px;
  text-align: center;
}

td {
  font-size: 16pt;
  padding: 8px 0px;
  text-align: center;
  border-top: 1px solid #eee;
}

.eta {
  text-align: right;
}

.smaller {
  font-size: 10pt;
}

.line {
  font-weight: bold;
}

.deptime {
  color: #bbb;
}

.arrtime {
  color: #bbb;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #fa0043;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .column {
    max-width: 100%;
  }
}
